
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/AzureRM.Extensions/.vs/*
library/AzureRM.Extensions/AzureRM.Extensions/bin/*
library/AzureRM.Extensions/AzureRM.Extensions/obj/*

# ignore PowerShell Studio MetaData
AzureRM.Extensions/AzureRM.Extensions.psproj
AzureRM.Extensions/AzureRM.Extensions.psproj.bak
AzureRM.Extensions/AzureRM.Extensions.psprojs
AzureRM.Extensions/AzureRM.Extensions.psproj

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*